/************************/
/* Typography */
body{
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    color: #2e2e2e;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 2.5em;
}

input{
    padding: 10px 5px;
    border: 1px solid #999;
}

p{
    margin-top: 0;
}

button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

hr{
    width: 100%;
}

#primary-color {
    color: #0d5773;
}

#secondary-color {
    color: #e64d4d;
}

.primary-btn{
    background-color: #2c7d9b;
    color: white;
}

.secondary-btn{
    background-color: #e64d4d;
    color: white;
}

.text-center{
    text-align: center;
}

.rounded{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Typography End */
/************************/